<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soecode.lyf.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.soecode.lyf.entity.Admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Account" property="account" jdbcType="VARCHAR" />
    <result column="Passwrod" property="passwrod" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="Createtime" property="createtime" jdbcType="DATE" />
    <result column="isEnable" property="isenable" jdbcType="INTEGER" />
    <result column="Ver" property="ver" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, Account, Passwrod, Type, Createtime, isEnable, Ver, Name, Phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.lyf.entity.Admin" >
    insert into db_admin (id, Account, Passwrod, 
      Type, Createtime, isEnable, 
      Ver, Name, Phone)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{passwrod,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, #{isenable,jdbcType=INTEGER}, 
      #{ver,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.lyf.entity.Admin" >
    insert into db_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        Account,
      </if>
      <if test="passwrod != null" >
        Passwrod,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="createtime != null" >
        Createtime,
      </if>
      <if test="isenable != null" >
        isEnable,
      </if>
      <if test="ver != null" >
        Ver,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="passwrod != null" >
        #{passwrod,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=INTEGER},
      </if>
      <if test="ver != null" >
        #{ver,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.lyf.entity.Admin" >
    update db_admin
    <set >
      <if test="account != null" >
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="passwrod != null" >
        Passwrod = #{passwrod,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        Createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="isenable != null" >
        isEnable = #{isenable,jdbcType=INTEGER},
      </if>
      <if test="ver != null" >
        Ver = #{ver,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.lyf.entity.Admin" >
    update db_admin
    set Account = #{account,jdbcType=VARCHAR},
      Passwrod = #{passwrod,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      Createtime = #{createtime,jdbcType=DATE},
      isEnable = #{isenable,jdbcType=INTEGER},
      Ver = #{ver,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<!-- 登入 -->
	<select id="selectadminByaccount" parameterType="java.lang.String" resultType="Admin" >
      select * from db_admin where Account = #{account,jdbcType=VARCHAR} AND Passwrod = #{passwrod,jdbcType=VARCHAR}
    </select>
	
	<select id="selectAdminByAdminName" parameterType="map"  resultMap="BaseResultMap"  > 
   	 SELECT *
		FROM db_admin 
		where
		Name like "%"#{name}"%" 
		limit #{pageSize},#{currentPage}
   </select> 
    
    <parameterMap type="java.util.Map" id="selecttype">
      <parameter property="name" mode="IN" jdbcType="NVARCHAR"/>
        <parameter property="pageSize" mode="IN" jdbcType="INTEGER"/>
        <parameter property="currentPage" mode="IN" jdbcType="INTEGER"/>
    </parameterMap>
	
		<select id="coonutadmin" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*)
		FROM db_admin
		where  Name like "%"#{name}"%"                              
	</select>
</mapper>